:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --violet-accent: hsl(277, 64%, 61%);

    --heading-stats-color: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    font-size: 15px;
    font-family: 'Inter', sans-serif;;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--heading-stats-color);
    padding: 65px 25px;
    height: 100vh;
}

.card-component {
    background-color: var(--card-background);
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-info {
    padding: 22px 35px;
    text-align: center;
    
}

picture, source, img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-paragraph {
    color: var(--main-paragraph);
    font-size: .95rem;
    line-height: 25px;
}

.card-title {
    padding-left: 10px;
    padding-right: 10px;
}

.card-title > span {
    color: var(--violet-accent);
}

.stat {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.33rem;
    font-weight: 700;
}

.stat > span {
    color: var(--stat-headings);
    display: block;
    text-transform: uppercase;
    font-size: .667rem;
    font-weight: 400;
    padding-top: 10px;
}



.stats {
    font-family: 'Lexend Deca', sans-serif;
}





.attribution { font-size: 11px; text-align: center; padding-bottom: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }