:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --violet-accent: hsl(277, 64%, 61%);

    --heading-stats-color: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    font-size: 15px;
    font-family: 'Inter', sans-serif;;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--heading-stats-color);
    padding: 65px 25px;
    height: 100vh;
}

.card-component {
    background-color: var(--card-background);
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-info {
    padding: 22px 35px;
    text-align: center;
}

picture, source, img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-container {
    position: relative;
    background-color: black;
    
}

img {
    height: 100%;
    opacity: .5;
}

.img-container::after {
    content: '';
    background: var(--violet-accent);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .25;
}


.card-paragraph {
    color: var(--main-paragraph);
    font-size: .95rem;
    line-height: 25px;
}

.card-title {
    padding-left: 10px;
    padding-right: 10px;
}

.card-title > span {
    color: var(--violet-accent);
}

.stat {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.33rem;
    font-weight: 700;
}

.stat > span {
    color: var(--stat-headings);
    display: block;
    text-transform: uppercase;
    font-size: .667rem;
    font-weight: 400;
    padding-top: 10px;
}



.stats {
    font-family: 'Lexend Deca', sans-serif;
}

.attribution { font-size: 11px; text-align: center; padding-bottom: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }



/*================ Desktop View ============================*/


@media screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
    }


    .card-component {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-self: center;
        max-width: 1110px;
    }

    .img-container{
        order: 2;
        justify-self: stretch;
        flex: 0 1 80%;
    }

    picture, source, img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
    }

    .img-container, .img-container::after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .img-container > img {
        height: 100%;
        width: 100%;
        
    }

    .card-info {
        order: 1;
        align-self: center;
        text-align: left;
        max-width: 420px;
    }

    .card-info > h2 {
        padding-left: 0;
        font-size: 1.875rem;
    }


    .stats {
        display: flex;
        justify-content: flex-start;
        grid-gap: calc((100% - 120px)/3);
        align-content: stretch;
    }

}